# MYSQL is an database where will are save the data of the chests
# The plugin doesnt work without MYSQL
mysql:
  database: "minecraft"
  host: localhost
  port: 3306
  username: "root"
  password: "1234"
# Save the chest on MYSQL every click on the chest
# This make more security and more lag maybe
save_chest_every_click: false
# Maximum length for chest names
max_chest_name_length: 32
# Maximum length for chest titles
max_chest_title_length: 32
# Enable debug messages in console
debug_mode: false
commands_alias:
  # this command open the chest and can create a new chest if dont exists one
  chest: [bau, b, chest, c]
   # this command show the chests of player
  chests: [baus, bs, chests, cs]
  # this command can open another chests of any player
  chestadmin: [bauadmin, ba, chestadmin, ca]
  # this command can change the name fo player chest
  chestname: [baunome, bnome, bn, chestname, cname, cn]
  # this command can change title of player chest
  chesttitle: [bautitulo, btitulo, bt, chesttitle, ctitle, ct]
  # this command deletes a player chest
  chestdelete: [baudeletar, bd, chestdelete, cdelete, cd]
  # this command shows chest info
  chestinfo: [bauinfo, bi, chestinfo, cinfo, ci]
  # this command lists all chests (admin)
  chestlist: [baulista, bl, chestlist, clist, cl]
  # this command reloads the plugin configuration
  chestreload: [baureload, br, chestreload, creload, cr]
  # this command shows help
  chesthelp: [bauhelp, bauajuda, bh, chesthelp, chelp, ch]
permissions:
  # The player have mychest.vip permission, he can have 10 chests
  # The size of inventorys is in the parentheses
  # The player have mychest.vip permission, he can have the BIGGEST chest
  # SMALLEST(9),
  # SMALL(18),
  # NORMAL(27),
  # MEDIUM(36),
  # BIG(45),
  # BIGGEST(54);
  groups:
    default:
      size: NORMAL
      chests: 2
    vip:
      size: BIGGEST
      chests: 10
